node_modules

*.log

/api.js
/index.dev.js
/datasources/index.js
/datasources/types.js
/datasources/Language/config.js
/datasources/Language/index.js
/datasources/Language/Language.js
/datasources/Language/languages.json
/datasources/Language/resolver.js
/datasources/Language/schema.graphql
/datasources/Language/types.js
/datasources/Abc/Abc.js
/datasources/Abc/config.js
/datasources/Abc/index.js
/datasources/Abc/resolver.js
/datasources/Abc/schema.graphql
/datasources/Abc/types.js
/datasources/IMDB/config.js
/datasources/IMDB/IMDB.js
/datasources/IMDB/index.js
/datasources/IMDB/resolver.js
/datasources/IMDB/schema.graphql
/datasources/IMDB/types.js
/datasources/Project/config.js
/datasources/Project/index.js
/datasources/Project/Project.js
/datasources/Project/resolver.js
/datasources/Project/schema.graphql
/datasources/Project/types.js
/datasources/Project/Category/Software.js
/datasources/Project/Category/Subtitles.js
/datasources/Project/Category/types.js
/datasources/Project/Category/Subtitles/Offline.js
/datasources/Project/Category/Subtitles/Online.js
/datasources/Project/Category/Subtitles/types.js
/datasources/Resource/config.js
/datasources/Resource/index.js
/datasources/Resource/resolver.js
/datasources/Resource/Resource.js
/datasources/Resource/schema.graphql
/datasources/Resource/types.js
/datasources/Spelling/config.js
/datasources/Spelling/index.js
/datasources/Spelling/resolver.js
/datasources/Spelling/schema.graphql
/datasources/Spelling/Spelling.js
/datasources/Spelling/types.js
/services/index.js
/services/logger.js
/services/typeResolver.js
/services/graphql/apollo.js
/services/graphql/index.js
/services/graphql/resolvers.js
/services/graphql/schema.graphql
/services/graphql/schema.js
/services/graphql/typeResolver.js
/services/graphql/validation.js
/services/neo4j/driver.js
/services/neo4j/index.js
/services/subtitles/config.js
/services/subtitles/index.js
/services/subtitles/os.js
/services/subtitles/types.js
