node_modules

*.log

/api.js
/index.dev.js
/neo4j-graphql.js
/resolvers.js
/schema.js
/datasources/index.js
/datasources/types.js
/datasources/Language/config.js
/datasources/Language/index.js
/datasources/Language/Language.js
/datasources/Language/languages.json
/datasources/Language/resolver.js
/datasources/Language/schema.graphql
/datasources/Language/types.js
/neo4j/driver.js
/neo4j/index.js
/services/index.js
/datasources/Movie/config.js
/datasources/Movie/index.js
/datasources/Movie/Movie.js
/datasources/Movie/resolver.js
/datasources/Movie/schema.graphql
/datasources/Movie/types.js
/services/logger.js
/services/typeResolver.js
